upstream backend {
{% if groups[nginx_backend_group] is defined and groups[nginx_backend_group] != None %}
{% for item in groups[nginx_backend_group] %}
    server {{ hostvars[item]['ansible_eth1']['ipv4']['address'] }}:{{ backend_port }};
{% endfor %}
{% endif %}
}

server {
    listen       80;
    server_name  {{ inventory_hostname }};

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;

    #location / {
        # root   /usr/share/nginx/html;
    #    root {{ nginx_default_www_directory }};
    #    index  index.html index.htm;
    #}

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

{% if nginx_default_locations is defined and nginx_default_locations != None %}
{% for location in nginx_default_locations %}
    location {{ location.filter }} {
{% for parameter in location.parameters %}
        {{ parameter.name }}    {{ parameter.value }};
{% endfor %}
    }

{% endfor %}
{% endif %}
    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    location ~ /\.ht {
        deny  all;
    }
}
