<html>
  <head>
    <title>{{ ansible_hostname }} - Apache</title>
  </head>
  <body bgcolor=white>
    <p><b>Apache</b></p>
    <p><b>hostname:</b> {{ ansible_hostname }}</p>
    <p><b>provision time:</b> {{ ansible_date_time.date }} {{ ansible_date_time.time }} {{ ansible_date_time.tz }}</p>

  </body>
</html>