<html>
  <head>
    <title>{{ ansible_hostname }} - Apache</title>
  </head>
  <body bgcolor=white>

    <p><b>hostname:</b> {{ ansible_hostname }}</p>
    <p><b>provision time:</b> {{ ansible_date_time.iso8601 }}</p>

  </body>
</html>